{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "rules": {
    "quotes": ["error", "single"],
    "no-unused-vars": ["error"],
    "no-console": "off",
    "eol-last": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "no-dupe-keys": "error",
    "no-empty": "error"
  }
}
