/* index.css or App.css */
@import 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf_viewer.css';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inherit !important;
}
